@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $bg-color;
  color: $text-main;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
